
//== Container main content style, used on page template

main.container {
    padding-top: 28px;
    padding-left: 24px;
    padding-right: 24px;

    .cmp-title__text {
        color: #000000;
        margin-bottom: 30px;
    }

    a {
        color: #000000;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    
        @media (prefers-color-scheme: dark) {
            color: $color-link-dark;
        }
    }
}
