.flag_container div {
    width: 33.3333333333%;
    height: 8px;
    overflow: hidden;
    float: left;
}

.flag_green {
    background-color: #009246;
}

.flag_white {
    background-color: #FFFFFF;
}

.flag_red {
    background-color: #CE2B37;
}