.cmp-sm__icons {
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 1em;

  a {
    background: #ffffff;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    color: #000000;
    line-height: 32px;

    margin: 0 2px 0 2px;
    border-radius: 50%;
  }
}

.cmp-sm__p {
  color: white;margin-top: 0;
}




