.cmp-togglemenu {}

.toggle_menu button{
    background-color: red;
}

.cmp-togglemenu__ul {
    list-style: none;
}

.cmp-togglemenu__subul {
    list-style: none;
}

.cmp-togglemenu_menudiv {
    visibility: visible;
}


.cmp-togglemenu__bar {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}



