<div style="display: flex;">
    <div>
        <p class="cmp-sm__p">Seguici su: </p>
    </div>

    <div class="cmp-sm__icons">
        <a href="https://www.facebook.com/palazzochigi.it/" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/Palazzo_Chigi" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/palazzo_chigi/" class="google"><i class="fa fa-google"></i></a>
        <a href="https://www.youtube.com/palazzochigi" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.linkedin.com/company/presidenza-del-consiglio-dei-ministri" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
</div>